[submodule "tst-blockchain-gui"]
	path = tst-blockchain-gui
	url = https://github.com/Tst-Network/tst-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
